{% extends 'base.html.twig' %}

{% block title %}Liste des créneaux
{% endblock %}

{% block body %}
	<div class="flex flex-col items-center">
		<h1 class="text-2xl text-center py-10">
			Liste des créneaux réservés
		</h1>


		<table class="text-sm text-left">
			<thead class="text-xs text-gray-700 uppercase">
				<tr>
					<th scope="col" class="px-6 py-3 text-center">Id</th>
					<th scope="col" class="px-6 py-3 text-center">Titre</th>
					<th scope="col" class="px-6 py-3 text-center">Début</th>
					<th scope="col" class="px-6 py-3 text-center">Fin</th>
					<th scope="col" class="px-6 py-3 text-center">Description</th>
					<th scope="col" class="px-6 py-3 text-center">Equipe</th>
					<th scope="col" class="px-6 py-3 text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for slot in slots %}
					<tr class="bg-white border-b hover:bg-gray-100">
						<td class="px-6 py-4 text-center">{{ slot.id }}</td>
						<td class="px-6 py-4 text-center">{{ slot.title }}</td>
						<td class="px-6 py-4 text-center">{{ slot.start ? slot.start|date('d-m-Y H:i') : '' }}</td>
						<td class="px-6 py-4 text-center">{{ slot.end ? slot.end|date('d-m-Y H:i') : '' }}</td>
						<td class="px-6 p-4 text-center">
							<textarea class="border border-gray-300 rounded-lg">{{ slot.description }}</textarea>
						</td>
						{% if slot.backgroundColor == "#ffff00" %}
							<td class="px-6 py-4 text-center">Pro B</td>
						{% elseif slot.backgroundColor == "#fc87f9" %}
							<td class="px-6 py-4 text-center">Ligue 2</td>
						{% elseif slot.backgroundColor == "#00b0f0" %}
							<td class="px-6 py-4 text-center">Espoirs</td>
						{% elseif slot.backgroundColor == "#92d050" %}
							<td class="px-6 py-4 text-center">U18</td>
						{% elseif slot.backgroundColor == "#EE9209" %}
							<td class="px-6 py-4 text-center">Cdf féminines</td>
						{% endif %}
						<td class="flex flex-row justify-center px-6 py-4 text-center">
							<a href="{{ path('app_slot_show', {'id': slot.id}) }}" class="text-sm text-center mr-1 p-2 border rounded-lg bg-sky-500 text-black border-white hover:border-transparent hover:text-cyan-600 hover:bg-orange-200">Voir</a>
							<a href="{{ path('app_slot_edit', {'id': slot.id}) }}" class="text-sm text-center p-2 border rounded-lg bg-orange-200 text-black border-white hover:border-transparent hover:text-cyan-600 hover:bg-orange-200">Modifier</a>
						</td>
					</tr>
				{% endfor %}


			</tbody>
		</table>
		<div class="inline mt-4">
			<a href="{{ path('app_slot_new') }}" class="text-sm text-center p-2 border rounded-lg bg-green-500 text-black border-white hover:border-transparent hover:text-cyan-600 hover:bg-orange-200">Ajouter un créneau</a>
		</div>
	</div>
{% endblock %}
