{% extends 'base.html.twig' %}

{% block title %}Slot
{% endblock %}

{% block body %}
	<div class="flex flex-col items-center">
		<h1 class="text-2xl text-center m-2 py-4">Créneau</h1>

		<table>
			<tbody class="flex flex-col">
				<tr>
					<th class="px-4 py-2 hidden">Id</th>
					<td class="hidden">{{ slot.id }}</td>
				</tr>
				<tr>
					<th class="px-4 py-2">Titre</th>
					<td>{{ slot.title }}</td>
				</tr>
				<tr>
					<th class="px-4 py-2">Début</th>
					<td>{{ slot.start ? slot.start|date('d-m-Y H:i') : '' }}</td>
				</tr>
				<tr>
					<th class="px-4 py-2">Fin</th>
					<td>{{ slot.end ? slot.end|date('d-m-Y H:i') : '' }}</td>
				</tr>
				<tr>
					<th class="px-4 py-2">Description</th>
					<td>{{ slot.description }}</td>
				</tr>
				<tr>
					<th class="px-4 py-2">Equipe</th>
					{% if slot.backgroundColor == "#ffff00" %}
						<td>Pro B</td>
					{% elseif slot.backgroundColor == "#fc87f9" %}
						<td>Ligue 2</td>
					{% elseif slot.backgroundColor == "#00b0f0" %}
						<td>Espoirs</td>
					{% elseif slot.backgroundColor == "#92d050" %}
						<td>U18</td>
					{% elseif slot.backgroundColor == "#EE9209" %}
						<td>Cdf féminines</td>
					{% endif %}
				</tr>
			</tbody>
		</table>
		<a href="{{ path('app_slot_index') }}" class="text-sm text-center my-2 px-2 py-2 border rounded-lg bg-sky-500 text-black hover:border-transparent hover:text-cyan-600 hover:bg-orange-200">Retour à la liste</a>

		<a href="{{ path('app_slot_edit', {'id': slot.id}) }}" class="text-sm mb-2 text-center px-2 py-2 border rounded-lg bg-amber-200 text-black hover:border-transparent hover:text-cyan-600 hover:bg-orange-200">Modifier</a>
		{{ include('slot/_delete_form.html.twig') }}
	</div>
{% endblock %}
