{% extends 'base.html.twig' %}

{% block title %}Slot
{% endblock %}

{% block body %}
	<div class="flex flex-col items-center space-y-4">
		<h1 class="text-2xl text-center py-4">Créneau</h1>

		<table class="table-auto">
			<tbody class="flex flex-col">
				<tr>
					<th class="px-4 py-2">Id</th>
					<td>{{ slot.id }}</td>
				</tr>
				<tr>
					<th class="px-4 py-2">Titre</th>
					<td>{{ slot.title }}</td>
				</tr>
				<tr>
					<th class="px-4 py-2">Début</th>
					<td>{{ slot.start ? slot.start|date('d-m-Y H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th class="px-4 py-2">Fin</th>
					<td>{{ slot.end ? slot.end|date('d-m-Y H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th class="px-4 py-2">Description</th>
					<td>{{ slot.description }}</td>
				</tr>
				<tr>
					<th class="px-4 py-2">Equipe</th>
					{% if slot.backgroundColor == "#ffff00" %}
						<td>Pro B</td>
					{% elseif slot.backgroundColor == "#fc87f9" %}
						<td>Ligue 2</td>
					{% elseif slot.backgroundColor == "#00b0f0" %}
						<td>Espoirs</td>
					{% elseif slot.backgroundColor == "#92d050" %}
						<td>U18</td>
					{% elseif slot.backgroundColor == "#EE9209" %}
						<td>Cdf féminines</td>
					{% endif %}
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_slot_index') }}">Retour à la liste</a>

		<a href="{{ path('app_slot_edit', {'id': slot.id}) }}">Modifier</a>

		{{ include('slot/_delete_form.html.twig') }}
	</div>
{% endblock %}
