{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}


{% block body %}

	<section class="text-center">
		<div class="row">
			<div class="col">
				<h1>Messagerie</h1>
				<p>
					<a href="{{ path('app_message_received') }}">Boîte de réception :
						{{ app.user.received|length}}
					</a>
				</p>
				<p>
					<a href="{{ path('app_message_sent') }}">Eléments envoyés :
						{{ app.user.sent|length}}
					</a>
				</p>
				<a href="{{ path('app_message_send')}}" class="btn btn-primary">Envoyer un message</a>
			</div>
		</div>
	</section>

{% endblock %}
