{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}


{% block body %}
	<div class="my-10 max-w-md mx-auto">
		<h1 class="mb-8 text-2xl text-center">Messagerie</h1>

		{{ include ('_flash_messages.html.twig')}}

		<div class="flex flex-col">
			<p class="my-4">
				<a href="{{ path('app_message_received') }}">Boîte de réception :
					{{ app.user.received|length}}
				</a>
			</p>
			<p>
				<a href="{{ path('app_message_sent') }}">Eléments envoyés :
					{{ app.user.sent|length}}
				</a>
			</p>
			<a href="{{ path('app_message_send')}}" class="my-4">Envoyer un message</a>
		</div>
	</div>
</div></section>{% endblock %}
