{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}


{% block body %}

	<div class="my-10  mx-auto">
		<h1 class="mb-8 text-2xl text-center">Message reçu</h1>
		<h2 class="mb-8 text-xl text-center">{{ message.title }}</h2>
		<section class="flex justify-center space-x-4">
			<p>De :
				{{ message.sender.firstname }}
				{{ message.sender.lastname }}</p>
			<p>Le :
				{{ message.createdAt|date("d/m/Y", "Europe/Paris") }}</p>


		</div>
		<div class="text-center w-1/2 mx-auto">{{ message.content|nl2br }}</div>

		<a href="#" class="text-sm text-center block mx-auto mt-8 w-64 p-2 border rounded-lg bg-sky-200 text-black border-white hover:border-transparent hover:text-cyan-600 hover:bg-orange-200">Répondre</a>
		<a href="{{ path('app_message_received')}}" class="text-sm text-center block mx-auto mt-4 w-64 p-2 border rounded-lg bg-amber-200 text-black border-white hover:border-transparent hover:text-cyan-600 hover:bg-orange-200">Boîte de réception</a>

	</section>
{% endblock %}
