{% extends 'base.html.twig' %}

{% block title %}Boîte de réception
{% endblock %}


{% block body %}
	<h1 class="text-2xl text-center py-10">
		Boîte de réception
	</h1>

	{{ include ('_flash_messages.html.twig')}}

	<div class="text-center mb-2">
		<a href="{{ path('app_message_send') }}" class="button-green">Envoyer un message</a>
		<a href="{{ path('app_message_sent') }}" class="button-yellow">Eléments envoyés</a>
	</div>


	<div class="flex items-center justify-center">

		<table class="text-sm border-separate border-spacing-y-2">
			<thead class="sr-only lg:not-sr-only">
				<tr class="tr-class">
					<th scope="col" class="px-6 py-3 text-center">De</th>
					<th scope="col" class="px-6 py-3 text-center">Sujet</th>
					<th scope="col" class="px-6 py-3 text-center">Date</th>
					<th scope="col" class="px-6 py-3 text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for message in app.user.received|reverse %}

					{% if message.isRead == 0 %}
						{% set bold = "font-bold" %}
					{% else %}
						{% set bold = "" %}
					{% endif %}
					<tr class="tr-class">

						<td class="td-class {{ bold }}">
							<a href="{{ path('app_message_read_received', {id: message.id}) }}">{{ message.sender.firstname }}
								{{ message.sender.lastname }}</a>
						</td>
						<td class="td-class {{ bold }}">
							<a href="{{ path('app_message_read_received', {id: message.id}) }}">{{ message.title }}</a>
						</td>
						<td class="td-class {{ bold }}">
							<a href="{{ path('app_message_read_received', {id: message.id}) }}">{{ message.createdAt|date("d/m/Y H:m", "Europe/Paris") }}</a>
						</td>
						<td class="td-class  {{ bold }}">
							<a href="{{ path('app_message_read_received', {id: message.id}) }}" class="button-blue">Voir</a>
							<a href="{{ path('app_message_send') }}" class="button-yellow">Répondre</a>
							<a href="{{ path('app_message_delete', {id: message.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');" class="w-32 my-2 button-red">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
