{% extends 'base.html.twig' %}

{% block title %}Eléments envoyés
{% endblock %}


{% block body %}
	<div class="flex flex-col items-center space-y-4 mb-4">
		<table class="w-full text-sm text-left">
			<caption class="caption-top text-2xl text-center py-10">
				Eléments envoyés
			</caption>
			<thead class="text-xs text-gray-700 uppercase">
				<tr>
					<th scope="col" class="px-6 py-3 text-center">A</th>
					<th scope="col" class="px-6 py-3 text-center">Sujet</th>
					<th scope="col" class="px-6 py-3 text-center">Date</th>
					<th scope="col" class="px-6 py-3 text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for message in app.user.sent %}

					{% if message.isRead == 0 %}
						{% set bold = "font-bold" %}
					{% else %}
						{% set bold = "" %}
					{% endif %}
					<tr class="bg-white border-b hover:bg-gray-100">

						<td class="px-6 py-4 text-center {{ bold }}">
							<a href="{{ path('app_message_read_sent', {id: message.id}) }}">{{ message.recipient.firstname }}
								{{ message.recipient.lastname }}</a>
						</td>
						<td class="px-6 py-4 text-center {{ bold }}">
							<a href="{{ path('app_message_read_sent', {id: message.id}) }}">{{ message.title }}</a>
						</td>
						<td class="px-6 py-4 text-center {{ bold }}">{{ message.createdAt|date }}</td>
						<td class="flex flex-row justify-center px-6 py-4 text-center {{ bold }}">
							<a href="{{ path('app_message_read_sent', {id: message.id}) }}" class="text-sm text-center p-2 border rounded-lg bg-blue-400 text-black border-white hover:border-transparent hover:bg-blue-300">Voir</a>
							<a href="{{ path('app_message_delete', {id: message.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" fill="currentColor" class="bi bi-trash-fill text-red-500 hover:text-red-400 mx-2 mt-2" viewbox="0 0 16 16">
									<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
								</svg>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="inline mt-4">
			<a href="{{ path('app_message_received') }}" class="text-sm text-center p-2 border rounded-lg bg-amber-200 text-black border-white hover:border-transparent hover:bg-amber-100">Boîte de réception</a>
			<a href="{{ path('app_message_send') }}" class="text-sm text-center p-2 border rounded-lg bg-greenTheme text-black border-white hover:border-transparent hover:bg-green-300">Envoyer un message</a>
		</div>
	</div>
{% endblock %}
