{% extends 'base.html.twig' %}

{% block title %}Eléments envoyés
{% endblock %}


{% block body %}
	<h1 class="text-2xl text-center py-10">
		Eléments envoyés
	</h1>

	<div class="text-center mb-2">
		<a href="{{ path('app_message_send') }}" class="button-green">Envoyer un message</a>
		<a href="{{ path('app_message_received') }}" class="button-yellow">Boîte de réception</a>
	</div>

	<div class="flex items-center justify-center">
		<table class="text-sm border-separate border-spacing-y-2">
			<thead class="sr-only lg:not-sr-only">
				<tr class="tr-class">
					<th scope="col" class="px-6 py-3 text-center">A</th>
					<th scope="col" class="px-6 py-3 text-center">Sujet</th>
					<th scope="col" class="px-6 py-3 text-center">Date</th>
					<th scope="col" class="px-6 py-3 text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for message in app.user.sent|reverse %}

					<tr class="tr-class">

						<td class="td-class">
							<a href="{{ path('app_message_read_sent', {id: message.id}) }}">{{ message.recipient.firstname }}
								{{ message.recipient.lastname }}</a>
						</td>
						<td class="td-class">
							<a href="{{ path('app_message_read_sent', {id: message.id}) }}">{{ message.title }}</a>
						</td>
						<td class="td-class">{{ message.createdAt|date("d/m/Y H:m", "Europe/Paris") }}</td>
						<td class="td-class">
							<a href="{{ path('app_message_read_sent', {id: message.id}) }}" class="button-blue">Voir</a>
							<a href="{{ path('app_message_delete', {id: message.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');" class="w-32 my-2 button-red">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
