<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ asset('assets/css/trainingSlots.css') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block nav %}
			<nav class="flex items-center justify-between flex-wrap bg-cyan-600 p-6">
				<div class="flex items-center flex-shrink-0 text-white mr-6">
					<a href="{{ path('app_main')}}">
						<img src="{{ asset('output-onlinepngtools.png') }}" alt="Logo training-slots" class="mr-2 lg:inline-block">
						<span class="font-semibold text-xl tracking-tight">ResaBasketTys</span>
					</a>
				</div>
				<div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
					<div class="text-lg text-center lg:flex-grow">
						<a href="{{ path('app_calendar_grande_salle')}}" class="block mt-4 lg:inline-block lg:mt-0 text-orange-200 hover:text-white mr-10 {% if (app.request.attributes.get('_route') == 'app_calendar_grande_salle') %} text-white underline{% endif %}">
							Grande salle
						</a>
						<a href="{{ path('app_calendar_petite_salle')}}" class="block mt-4 lg:inline-block lg:mt-0 text-orange-200 hover:text-white mr-10 {% if (app.request.attributes.get('_route') == 'app_calendar_petite_salle') %}text-white underline{% endif %}">
							Petite salle
						</a>
						<a href="{{ path('app_calendar_musculation')}}" class="block mt-4 lg:inline-block lg:mt-0 text-orange-200 hover:text-white mr-10 {% if (app.request.attributes.get('_route') == 'app_calendar_musculation') %}text-white underline{% endif %}">
							Musculation
						</a>
						{% if is_granted('ROLE_PLAYER') %}
							<a href="{{ path('app_message')}}" class="block mt-4 lg:inline-block lg:mt-0 text-orange-200 hover:text-white mr-10 {% if (app.request.attributes.get('_route') == 'app_message') %}text-white underline{% endif %}">
								Messagerie
								<div class="hidden">
									{% set notRead = 0 %}
									{% for message in app.user.received %}
										{% if message.isRead != true %}{
											{% set notRead = notRead + 1 %}
											}
										{% endif %}
									{% endfor %}
								</div>
								<span>({{ notRead }})</span>
							</a>
						{% endif %}

						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('admin')}}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-red-300 border-white hover:border-transparent hover:text-cyan-600 hover:bg-red-300 mt-4 lg:mt-0 {% if (app.request.attributes.get('_route') == 'admin') %}text-white underline{% endif %}">
								Zone Administrateur
							</a>
						{% endif %}


					</div>
					<div>

						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<p class="inline-block text-white">Bonjour
								<span class="block ml-2 mt-4 lg:inline-block lg:mt-0 text-orange-200 text-xl mr-10">
									{{ app.user.pseudo }}
								</span>
							</p>
						{% endif %}

						{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
							<a href="{{ path('app_logout')}}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-cyan-600 hover:bg-orange-200 mt-4 lg:mt-0">Déconnexion</a>
						{% else %}
							<a href="{{ path('app_login')}}" class="ml-12 inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-cyan-600 hover:bg-orange-200 mt-4 lg:mt-0">Connexion</a>
							<p class="mt-2">
								<a href="{{ path('app_register') }}" class="text-sm">Pas encore inscrit ? Créer un compte</a>
							</p>
						{% endif %}

					</div>
				</div>
			</nav>
			{# 			{% if (app.request.attributes.get('_route') == 'app_calendar_grande_salle' or app.request.attributes.get('_route') == 'app_calendar_petite_salle' or app.request.attributes.get('_route') == 'app_calendar_musculation') %}
																																																																																																																																																																																																																																																																																																																																																																																					 #}
			{% if is_granted('ROLE_COACH') %}
				<a href="{{ path('app_slot_new')}}" class="inline-block text-sm ms-2 px-2 py-2 leading-none border rounded bg-green-500 text-black border-white hover:border-transparent hover:text-cyan-600 hover:bg-orange-200 mt-4 lg:mt-0">Nouveau créneau</a>
				<a href="{{ path('app_slot_index')}}" class="inline-block text-sm ms-2 px-2 py-2 leading-none border rounded bg-yellow-500 text-black border-white hover:border-transparent hover:text-cyan-600 hover:bg-orange-200 mt-4 lg:mt-0">Modifier un créneau</a>
			{% elseif is_granted('ROLE_PLAYER') %}
				<a href="{{ path('app_message_send')}}" class="inline-block text-sm ms-2 px-2 py-2 leading-none border rounded bg-green-500 text-black border-white hover:border-transparent hover:text-cyan-600 hover:bg-orange-200 mt-4 lg:mt-0">Demander un créneau</a>
			{% endif %}
			{# 			{% endif %}
																																																																																																																																																																																																																																																																																																																																																																																					 #}
		{% endblock %}

		{% for message in app.flashes("message") %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				{{message}}
				<button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}

		<div class="container">
			<div class="row">
				<div class="col"> {% block body %}{% endblock %}
					</div>
				</div>
			</div>
			<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js" integrity="sha256-8EcfIJRWyvnu/U0OsfCk05x1JGVmeC2a7sJQHrbWYSA=" crossorigin="anonymous"></script>
		</body>
	</html>
</body></html></body>
